---
import Layout from "../layouts/Layout.astro";
---

<Layout title="abo">
  <h1>hello kitty girls coming back home thinking they are normal 💀</h1>
</Layout>
<style>
  h1 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
    text-shadow: 3px 7px 8px #000000;
  }
</style>
