---
import Layout from "../layouts/Layout.astro";
---

<Layout title="cont">
  <div class="wrapper">
    <h2>Would you like to contact me? Here are some ways to do so:</h2>
    <div class="grid">
      <a href="https://discord.com/users/572771911508033565" target="_blank"
        ><img src="https://skillicons.dev/icons?i=discord" /><h1>_wiczka</h1></a
      >
      <a href="https://www.instagram.com/wikakozinka/" target="_blank"
        ><img src="https://skillicons.dev/icons?i=instagram" /><h1>
          @wikakozinka
        </h1></a
      >
      <a href="https://github.com/xvmari" target="_blank"
        ><img src="https://skillicons.dev/icons?i=github" /><h1>/xvmari</h1></a
      >
      <a href="https://twitter.com/wiczkalelele" target="_blank"
        ><img src="https://skillicons.dev/icons?i=twitter" /><h1>
          wiczkalelele
        </h1></a
      >
    </div>
  </div>
</Layout>
<style>
  h2 {
    margin-top: 5vw;
    margin-bottom: 3vw;
    font-size: 2rem;
    text-shadow:
      0 0 5px #fff,
      0 0 30px #ff00de,
      0 0 50px #ff00de,
      0 0 60px #ff00de,
      0 0 100px #ff00de;
  }
  .wrapper {
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
    text-shadow: 3px 7px 8px #000000;
    text-decoration: none;
  }
  img {
    width: 4vw;
    height: 4vw;
  }
</style>
