---
import Layout from "../layouts/Layout.astro";

const data = await fetch("https://api.github.com/users/xvmari").then((res) =>
  res.json(),
);
---

<Layout title="hom">
  <div>
    <h1>Hellow, my name is Wiktoria</h1>
    <img src={data.avatar_url} alt="me frfr" />
    <p>dis me frfr</p>
  </div>
  <h1>I'm 17 years old from Poland</h1>
  <h1>Hello Kitty enjoyer who likes to write stupid things</h1>

  <p>go and check out other things bout me</p>
</Layout>
<style>
  h1 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
    /* text-shadow: 3px 7px 8px #000000; */
  }
  div,
  p {
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    text-shadow:
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #ff00de,
      0 0 70px #ff00de,
      0 0 80px #ff00de;
  }

  img {
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    transition: 0.5s;
  }
  img:hover {
    box-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 30px #ff00de,
      0 0 50px #ff00de;
  }
</style>
