<header>
  <a>Home</a>
  <a>About</a>
  <a>Contact</a>
  <a>Projects</a>
</header>
<style scoped>
  div {
    width: 100%;
  }
  a {
    font-weight: bold;
    box-sizing: border-box;
    margin-top: 2%;
    width: 20%;
    border-radius: 100%;
    display: inline-block;
    box-shadow: 0 0 20px 0 #1d1e18;
    padding: 1rem;
    background-color: #6b8f71;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: #1d1e18;
  }
  header {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
  }
  a:hover {
    background-color: rgb(170, 210, 186);
    transition: 0.5s;
  }
</style>
