<header>
  <a href="/">Home</a>
  <a href="about">About</a>
  <a href="contact">Contact</a>
  <a href="projects">Projects</a>
</header>
<style scoped>
  div {
    width: 100%;
  }
  a {
    font-weight: bold;
    box-sizing: border-box;
    margin-top: 0.5%;
    width: 15%;
    border-radius: 0.5rem;
    display: inline-block;
    border: 4px solid #ff00dd6e;
    box-shadow: 6px 2px 3px #161420;
    text-shadow: 2px 2px 4px #000000;
    padding: 1rem;
    background-color: #24242480;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: white;
  }
  header {
    overflow: hidden;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
  }
  a:hover {
    text-shadow:
      0 0 5px #fff,
      0 0 30px #ff00de,
      0 0 50px #ff00de,
      0 0 60px #ff00de,
      0 0 100px #ff00de;
    transition: 0.2s;
  }
</style>
