<header>
  <a>Home</a>
  <a>About</a>
  <a>Contact</a>
  <a>Projects</a>
</header>
<style scoped>
  div {
    width: 100%;
  }
  a {
    font-weight: bold;
    box-sizing: border-box;
    margin-top: 0.5%;
    width: 15%;
    border-radius: 0.5rem;
    display: inline-block;
    border: 2px solid #27233a;
    box-shadow: 6px 2px 3px #161420;
    text-shadow: 2px 2px 4px #000000;
    padding: 1rem;
    background-color: #505168;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: white;
  }
  header {
    overflow: hidden;
    display: flex;
    gap: 0.5rem;
  }
  a:hover {
    box-shadow: none;
    text-shadow: none;
    transition: 0.2s;
  }
</style>
