---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <Footer />
    <slot />
  </body>
</html>
<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Condensed:wght@300&display=swap");
  body {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    background-color: #151515;
    opacity: 1;
    background-image: radial-gradient(#650058 1px, transparent 1px),
      radial-gradient(#650058 1px, #151515 1px);
    background-size: 40px 40px;
    background-position:
      0 0,
      20px 20px;
  }
</style>
